@font-face {
    font-family: Playfair;
    src: url(/fonts/PlayfairDisplay-Black.ttf) format("truetype");
}

@font-face {
    font-family: Playfair-Italic;
    src: url(/fonts/PlayfairDisplay-BlackItalic.ttf) format("truetype");
}

@font-face {
    font-family: Lato;
    src: url(/fonts/Lato-Light.ttf) format("truetype");
}